
<button {{action 'push'}}>Push</button> &nbsp;&nbsp;
<button {{action 'pop'}}>Pop</button> &nbsp;&nbsp;
<button {{action 'unshift'}}>Unshift</button> &nbsp;&nbsp;
<button {{action 'shift'}}>Shift</button> &nbsp;&nbsp;
| &nbsp;&nbsp;
<button {{action 'toggle'}}>Toggle</button> {{#if isActive}}Active{{else}}Inactive{{/if}}

<br>
<br>


{{x-list items=items isActive=isActive}}
